PORT=3000

PUPPETEER_BASE_URL=https://www.avito.ru/profile/messenger
PUPPETEER_HEADLESS=false
PUPPETEER_LOGIN_TIMEOUT_MS=300000
PUPPETEER_USER_DATA_DIR=.avito-profile
PUPPETEER_EXECUTABLE_PATH=/path/to/chrome